<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <h1>Hello {{user.name}} !</h1>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Main Page</a>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a></a>
                </li>
            </ul>
            {% endif %}
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>