{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home' %}">Main Page</a>
        <!-- <a href=""></a>Sign up</a> -->
    </nav>
</header>
<main>
    <h1>My Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for item in accounts %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{item.number}}</td>
                <td>{{item.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}