{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home' %}">Main Page</a>
        <!-- <a href=""></a>Sign up</a> -->
    </nav>
</header>
<main>
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}